body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  transition: background-color 0.5s ease; /* Ajout de la transition de couleur de fond */

}

#quote-box {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  border: 5px solid #000000;
  padding: 20px;
  background-color: #ffffffbb;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#text {
  font-size: 24px;
  margin-bottom: 20px;
}

#author {
  font-size: 18px;
  font-style: italic;
  color: #555;
}

#new-quote {
  padding: 10px 20px;
  margin-top: 20px;
  margin-right: 10px;
  font-size: 16px;
  background-color: #acadae00;
  color: rgb(0, 0, 0);
  font-family: 'Montserrat', sans-serif;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#new-quote:hover {
  background-color: #e7ecf1;
}

#tweet-quote {
  display: inline-block;
  margin-top: 10px;
  font-size: 16px;
  color: #2196f3;
  text-decoration: none;
}

#tweet-quote:hover {
  background-color: #e7ecf1;
}
